<template>
  <FavoritesComponent></FavoritesComponent>
</template>

<script>
  // @ is an alias to /src
  import FavoritesComponent from "../components/FavoritesComponent";

  export default {
    name: 'Favorites',
    components: {
      FavoritesComponent
    }
  }
</script>
