<template>
    <FilterComponent></FilterComponent>
</template>

<script>
    import FilterComponent from "../components/FilterComponent";
    export default {
        name: "Filter",
        components: {FilterComponent}
    }
</script>

<style scoped>

</style>