<template>
  <Restaurant></Restaurant>
</template>

<script>
// @ is an alias to /src
import Restaurant from "../components/RestaurantComponent";

export default {
  name: 'Home',
  components: {
    Restaurant
  }
}
</script>
