<template>
  <div class="detail-container">      
      <v-card max-width="1000">
            <v-card-title>{{details.name}}</v-card-title>
            <v-img
                v-bind:src="details.image_url"
                max-height="300"
                >
            </v-img>
          <div class="">
                <div>
                    <v-card-title>{{details.name}} - <p><small><i>{{details.location.city}}</i></small></p></v-card-title>

                </div>
                <div class="rating" >
                    <v-rating
                            readonly
                            v-model="details.rating"
                            dense
                            background-color="indigo lighten-3"
                            color="indigo"
                            half-increments
                            size="18">
                    </v-rating>
                    <span>{{details.review_count}}(reviews) • {{details.price}} </span>

                    <div class="transaction">
                        <span v-if="details.transactions.includes('delivery')" data-app>
                            <v-tooltip top>
                                <template v-slot:activator="{ on, attrs }">
                                    <v-icon
                                            v-bind="attrs"
                                            v-on="on"
                                    >
                                    mdi-moped
                                    </v-icon>
                                </template>
                                <span>Delivery</span>
                            </v-tooltip>
                        </span>
                        <span v-if="details.transactions.includes('pickup')" data-app>
                            <v-tooltip top>
                                <template v-slot:activator="{ on, attrs }">
                                    <v-icon
                                            v-bind="attrs"
                                            v-on="on"
                                    >
                                    mdi-shopping
                                    </v-icon>
                                </template>
                                <span>Pick-up</span>
                            </v-tooltip>
                        </span>
                        <span v-if="details.transactions.includes('restaurant_reservation')" data-app>
                            <v-tooltip top>
                                <template v-slot:activator="{ on, attrs }">
                                    <v-icon
                                            v-bind="attrs"
                                            v-on="on"
                                    >
                                    mdi-calendar-month-outline
                                    </v-icon>
                                </template>
                                <span>Reservation</span>
                            </v-tooltip>
                        </span>
                    </div>
                </div>
            </div>

            <div class="card-text-infos">
                <div class="v-card-text" >
                    <div class="my-4 speciality" v-for="(item,index) in details.categories" :key="index">
                        <span>{{item.title}}</span>
                    </div>
                </div>
                <div class="v-card-text-address">
                            <div v-for="(address, index) in details.location.display_address"
                                 v-bind:key="index">
                                <p>{{address}}</p>
                            </div>
                        </div>
                <div class="v-card-text">
                    <div class="v-card-text-phone">
                        <p>📞 {{details.display_phone}}</p>
                    </div>
                </div>
                <div class="horaire">
                    <div v-for="(item,index) in details.hours" :key="index">
                        <p>Monday : {{ConvertToHour(item.open[0].start, item.open[0].end)}}</p>
                        <p>Tuesday : {{ConvertToHour(item.open[1].start, item.open[1].end)}}</p>
                        <p>Wednesday : {{ConvertToHour(item.open[2].start, item.open[2].end)}}</p>
                        <p>Thursday : {{ConvertToHour(item.open[3].start, item.open[3].end)}}</p>
                        <p>Friday : {{ConvertToHour(item.open[4].start, item.open[4].end)}}</p>
                        <p>Saturday : {{ConvertToHour(item.open[5].start, item.open[5].end)}}</p>
                        <p>Sunday : {{ConvertToHour(item.open[6].start, item.open[6].end)}}</p>
                    </div>
                </div>
           </div>
           <div class="reservation">
               <Reservation :restaurantId="details.id"/>
           </div>
           
           <v-carousel 
           :show-arrows="false"
           cycle
           >
                <v-carousel-item
                        v-for="photo in details.photos"
                        :key="photo"
                        :src="photo"
                        reverse-transition="fade-transition"
                        transition="fade-transition"
                ></v-carousel-item>
            </v-carousel>


        </v-card>
    </div>
</template>

<script>

import { mapState } from "vuex";
import Reservation from "../components/ReservationComponent";

export default {

    components:{
        Reservation,
    },
    data(){
    return {
    };
    },
computed: {
            ...mapState(["details"]),
        },
        created() {
            this.$store.dispatch({type:'load_details',id: this.$route.params.id})

        },
    methods:{
        ConvertToHour(start, end){
            return start.slice(0,2) + ':' +start.slice(2,4) + ' - '+ end.slice(0,2) + ':' +end.slice(2,4) ;
        }
    }
}
</script>

<style scoped lang="scss">
    @import "../assets/styles/style.scss";
</style>