<template>
    <div>
        <div>
            <h2>Your favorites restaurant</h2>


        </div>
        <div class="main-container ">
            <div class="container" v-for="(favoris, index) in favorites" v-bind:key="index">
                <v-card class="v-card-restaurant">
                    <template slot="progress">
                        <v-progress-linear
                                color="deep-purple"
                                height="10"
                                indeterminate>
                        </v-progress-linear>
                    </template>
                    <v-img height="250" v-bind:src="favoris.image_url"></v-img>
                    <div class="row">

                        <div class="title-container">
                            <v-card-title>{{favoris.name}}</v-card-title>
                            <div class="like-container">
                                <input
                                        type="checkbox"
                                        :value=favorites
                                        name="checkbox"
                                        v-bind:id="favorites.id"
                                        v-on:click="editFavorites(favorites)"
                                />
                                <label v-bind:for="favorites.id">
                                    <i class="fas fa-heart"></i>
                                </label>
                            </div>
                        </div>

                        <div class="rating">
                            <v-rating
                                    readonly
                                    v-model="favoris.rating"
                                    dense
                                    background-color="indigo lighten-3"
                                    color="indigo"
                                    half-increments
                                    size="18">
                            </v-rating>
                            <span>{{favoris.review_count}}(reviews) • {{favoris.price}} </span>
                        </div>
                    </div>
                    <div class="card-text-infos">
                        <div class="v-card-text">
                            <div class="my-4 speciality ">
                                <p>{{favoris.categories[0].title}}</p>
                            </div>
                            <div class="v-card-text-phone">
                                <p>📞 {{favoris.display_phone}}</p>
                            </div>
                        </div>
                        <div class="v-card-text-address">
                            <div v-for="(address, index) in favoris.location.display_address"
                                 v-bind:key="index">
                                <p>{{address}}</p>
                            </div>
                        </div>
                    </div>
                    <v-divider class="mx-4"></v-divider>
                    <v-card-title>Availability</v-card-title>

                    <v-card-text>
                        <v-chip-group
                                active-class="deep-purple accent-4 white--text"
                                column>
                            <v-chip>{{favoris.is_closed}}</v-chip>
                        </v-chip-group>
                    </v-card-text>

                    <div class="card-actions-restaurant">
                        <v-card-actions>
                           <Reservation :restaurantId="favoris.id"/>
                        </v-card-actions>
                        <v-card-actions>
                            <v-btn
                                    color="deep-purple lighten-2"
                                    text
                                    @click="details(favoris.id)"
                            >
                                details
                                <v-dialog>
                                    <Detail/>
                                </v-dialog>
                            </v-btn>
                        </v-card-actions>
                    </div>
                </v-card>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapState} from "vuex";
    import Reservation from "../components/ReservationComponent";

    export default {
        components: {
            Reservation
        },
        name: "FavoritesComponent",
        data() {
            return {};
        },
        computed: {
            ...mapState(["restaurant"]),
            ...mapState(["favorites"])
        },

        methods: {

            details(restaurantId) {
                this.$router.push({name: 'Detail', params: {id: restaurantId}})
            },
            editFavorites(restaurant){
                const result  = this.favorites.find(element => element.id === restaurant.id);
                if (result === undefined) {
                    this.$store.dispatch("add_to_favorites", restaurant)
                } else {
                    this.$store.dispatch("remove_from_favorites", restaurant)
                }
            },
            reserve() {
                // redirect to reservation component
                // et logique métier
            }
        },
    }
</script>

<style scoped lang="scss">
    @import "../assets/styles/style.scss";
</style>