<template>
    <div class="app-filter">
        <div class="filter">
            <div class="search">
                <input type="search" placeholder="search by name" v-model="searchKey">
                <span v-if="searchKey && filteredRestaurant.length >= 1">
                    {{ filteredRestaurant.length }} résultats
                </span>
            </div>
            <div class="div-select" data-app>
                <v-select
                        class="v-selected"
                        v-model="showCategories"
                        :items="categoriesList"
                        label="Filter by categories"
                        chips
                        @blur="setClosed"
                        ref="select"
                        multiple

                ></v-select>
            </div>
            <template>
                <v-row>
                    <v-col class="pa-12">
                        <div>
                            <p>⭐ Filter by rating ⭐</p>
                        </div>
                        <v-range-slider
                                :tick-labels="ratingArray"
                                :min="ratingArray[0]"
                                :max="ratingArray[4]"
                                ticks="always"
                                tick-size="5"
                                v-model="ratingArrayFiltered"
                        >
                        </v-range-slider>
                    </v-col>
                </v-row>
            </template>
        </div>
    </div>
</template>

<script>
    import {mapGetters, mapState} from "vuex";

    export default {
        name: "FilterComponent",
        data() {
            return {};
        },
        computed: {
            ...mapGetters(["filteredRestaurant"]),
            ...mapGetters(["allRestaurant"]),
            ...mapState(["favorites"]),
            ...mapState(["categoriesList"]),
            ...mapState(["ratingArray"]),

            ratingArrayFiltered: {
                get() {
                    return this.$store.state.ratingArrayFiltered
                },
                set(value) {
                    this.$store.commit('UPDATE_RATING_FILTER', value);
                }
            },
            showCategories: {
                get() {
                    return this.$store.state.showCategories
                },
                set(value) {
                    this.$store.commit('UPDATE_SHOW_CATEGORIES', value)
                }
            },
            searchKey: {
                get() {
                    return this.$store.state.searchKey
                },
                set(value) {
                    this.$store.commit('UPDATE_SEARCH_KEY', value)
                }
            },

        }, methods: {
            setClosed() {
                this.$refs.select.blur();
            },
        }
    }
</script>

<style lang="scss">
    @import "../assets/styles/style.scss";
</style>