<template>
  <v-row justify="center" data-app>
    <v-dialog
      v-model="dialog"
      persistent
      max-width="600px"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          color="primary"
          dark
          v-bind="attrs"
          v-on="on"
        >
          Reserve
        </v-btn>
      </template>
      <v-app>
      <v-card>
        <v-card-title>
          <span class="headline">Your information</span>
        </v-card-title>
        <v-card-text>
            <v-container>
              
                <v-row>
                    <v-text-field
                        v-model="name"
                        :counter="10"
                        label="Name*"
                        required
                    ></v-text-field>
                </v-row>
                <v-row>
                    <v-text-field
                        v-model="email"
                        label="Email*"
                        required
                    ></v-text-field>
                </v-row>
                <v-row justify="center">
                    <v-date-picker
                    color="grey darken-3"
                    v-model="date"
                    year-icon="mdi-calendar-blank"
                    prev-icon="mdi-skip-previous"
                    next-icon="mdi-skip-next"
                    ></v-date-picker>
                </v-row>
                <v-col
                    cols="12"
                    sm="6"
                >
                    <v-select
                        v-model="seats"
                        :items="seatsList"
                        label="Number of seats*"
                        required
                    ></v-select>
                </v-col>

                
                <v-row>
                    <v-col>
                    <v-chip-group
                            v-model="time"
                            required
                        >
                            <v-chip
                              v-for="time in timeToChoose"
                              :key="time">
                              {{ time }}
                            </v-chip>
                        </v-chip-group>
                    </v-col>
                </v-row>
                
                <v-row>
                  <v-textarea
                  v-model="message"
                  label="Leave a message"
                  auto-grow
                  outlined
                  rows="1"
                  row-height="15"
                  ></v-textarea>
                </v-row>
            </v-container>
            <small>*indicates required field</small>
          </v-card-text>

          <p v-if="errors.length">
            <b>Please correct the following error(s):</b>
            <ul>
              <li v-for="(error,index) in errors" v-bind:key="index">{{ error }}</li>
            </ul>
          </p>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="blue darken-1"
              text
              @click="dialog = false"
            >
              Close
            </v-btn>
            <v-btn
              color="grey darken-3"
              dark
              @click="checkForm()"
            >
              Reserve
            </v-btn>
          </v-card-actions>

          <p v-if="reservationDialog">
            <b>Thank you for your reservation (please do not spam the button, we don't have the time to implement the duplicate entry verification)</b>
          </p>
        </v-card>
      </v-app>
    </v-dialog>
  </v-row>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, maxLength, email } from 'vuelidate/lib/validators'
import {mapActions} from 'vuex'


export default {
    data: () => ({
        seatsList: [...Array(7).keys()],
        dialog: false,
        reservationDialog: false,
        email:null,
        name:null,
        date: new Date().toISOString().substr(0, 10),
        seats:null,
        time:null,
        message:null,
        timeToChoose:['20:30','21:00','21:30','22:00','22:30'],
        errors:[]

    }),
    props: ['restaurantId'],

    methods: {
         ...mapActions([
      "add_reservation", 
    ]),
         
          checkForm: function () {
            this.errors = [];

            if (!this.name) {
              this.errors.push("Name required.");
            }
            if (!this.email) {
              this.errors.push('Email required.');
            } else if (!this.validEmail(this.email)) {
              this.errors.push('Valid email required.');
            }

            if(!this.time){
              this.errors.push("Time required");
            }

            if(!this.seats){
              this.errors.push("Seats required")
            }

            if (!this.errors.length) {
              this.add_reservation({
              name:this.name, 
              email:this.email, 
              date:this.date, 
              seats:this.seats,
              time:this.timeToChoose[this.time], 
              message:this.message,
              restaurantId:this.restaurantId,
              is_checkout:false
              });
              this.reservationDialog = true
              return true;
            }
          },
          validEmail: function (email) {
            var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
          }
    },
    mixins: [validationMixin],

    validations: {
      name: { required, maxLength: maxLength(10) },
      email: { required, email },
      select: { required },
    },
    computed:{
    },
    components: {
  }
}
</script>

<style scoped lang="scss">
    @import "../assets/styles/style.scss";
</style>