<template>
    <div>
        <div>
            <h2>Restaurants</h2>
            <FilterComponent></FilterComponent>

        </div>

        <div class="main-container ">
            <div class="container" v-for="(restaurants, index) in filteredRestaurant" v-bind:key="index">
                <v-card  class="v-card-restaurant">
                    <template slot="progress">
                        <v-progress-linear
                                color="deep-purple"
                                height="10"
                                indeterminate>
                        </v-progress-linear>
                    </template>
                    <v-img height="250" v-bind:src="restaurants.image_url"></v-img>
                    <div class="row">

                        <div class="title-container">
                            <v-card-title>{{restaurants.name}}</v-card-title>
                            <div class="like-container">
                                <input
                                        type="checkbox"
                                        :value=restaurants
                                        name="checkbox"
                                        v-bind:id="restaurants.id"
                                        v-on:click="editFavorites(restaurants)"
                                />
                                <label v-bind:for="restaurants.id">
                                    <i class="fas fa-heart"></i>
                                </label>
                            </div>
                        </div>

                        <div class="rating">
                            <v-rating
                                    readonly
                                    v-model="restaurants.rating"
                                    dense
                                    background-color="indigo lighten-3"
                                    color="indigo"
                                    half-increments
                                    size="18">
                            </v-rating>
                            <span>{{restaurants.review_count}} (reviews)</span>
                            <span v-if="restaurants.price === '$' || restaurants.price === '$$' || restaurants.price === '$$$' || restaurants.price === '$$$$'">• $</span>
                            <span v-if="restaurants.price === '€' || restaurants.price === '€€' || restaurants.price === '€€€' || restaurants.price === '€€€€'">• €</span>
                        </div>
                    </div>
                    <div class="card-text-infos">
                        <div class="v-card-text">
                            <div class="my-4 speciality ">
                                <p>{{restaurants.categories[0].title}}</p>
                            </div>
                            <div class="v-card-text-phone">
                                <p>📞 {{restaurants.display_phone}}</p>
                            </div>
                        </div>
                        <div class="v-card-text-address">
                            <div v-for="(address, index) in restaurants.location.display_address"
                                 v-bind:key="index">
                                <p>{{address}}</p>
                            </div>
                        </div>
                    </div>
                    <v-divider class="mx-4"></v-divider>
                    <v-card-title>Availability</v-card-title>

                    <v-card-text>
                        <v-chip-group
                                active-class="deep-purple accent-4 white--text"
                                column>
                            <v-chip v-if="restaurants.is_closed === false"> Your restaurant is actually open</v-chip>
                            <v-chip v-if="restaurants.is_closed === true"> Your restaurant is actually closed</v-chip>
                        </v-chip-group>
                    </v-card-text>

                    <div class="card-actions-restaurant">
                        <v-card-actions>
                            <Reservation :restaurantId="restaurants.id"/>
                        </v-card-actions>
                        
                        <v-card-actions>
                            <v-btn
                                    color="deep-purple lighten-2"
                                    text
                                    @click="details(restaurants.id)"
                            >
                                details
                            </v-btn>
                        </v-card-actions>
                    </div>
                </v-card>
            </div>
        </div>
    </div>

</template>

<script>
    import {mapGetters, mapState} from "vuex";
    import FilterComponent from "./FilterComponent";
    import Reservation from "../components/ReservationComponent";

    export default {
        name: "Restaurant",
        components: {
            FilterComponent,
            Reservation
            },
        data() {
            return {};
        },
        computed: {
            ...mapGetters(['filteredRestaurant']),
            ...mapGetters(["allRestaurant"]),
            ...mapState(['favorites']),
        },

        methods: {

            details(restaurantId) {
                this.$router.push({name: 'Detail', params: {id: restaurantId}})
            },
            reserve() {
            },
            editFavorites(restaurant){
                const result  = this.favorites.find(element => element.id === restaurant.id);
                if (result === undefined) {
                    this.$store.dispatch("add_to_favorites", restaurant)
                } else {
                    this.$store.dispatch("remove_from_favorites", restaurant)
                }
            },
        },
        created() {
            this.$store.dispatch("load_restaurant");

        }
    }
</script>

<style scoped lang="scss">
    @import "../assets/styles/style.scss";
</style>