
.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container {
    width: 375px;
    margin: 20px;
}

// ------- RESTAURANT -------- //

.card-text-infos {
    display: flex;
    height: 100px;
    justify-content: start;
    margin-top: 10px;
    margin-bottom: 30px;
}

.card-actions-restaurant {
    display: flex;
}

.card-address {

}

.speciality {
    margin-left: 10px;
    justify-content: flex-end;
}

.v-card-text {
    width: 250px;
    margin-right: 10px;
    margin-left: 10px;
}
.v-card-text-address {
    width: 180px;
    margin-right: 30px;
    margin-left: 10px;
}
.v-card-text-phone {
    margin-top: 20px;
}

.v-card__title {
    padding: 15px 15px 0px;
}

.rating {
    display: flex;
    justify-content: start;
    margin-left: 13px;

    span {
        margin: 3px 6px 10px 5px;
    }
}
.row {
    margin: 12px !important;
}

.like-container{
    margin-top: 20px;
}
.like-container input {
    display: none;

}

.like-container input:checked + label i {
    color: #fb2626;
    animation: heart 1.3s forwards ease;
    margin: 0;
}
.title-container{
    display: flex;
}
.filter {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 100px;
    margin: 40px;
    flex-wrap: wrap;
}
.app-filter {
    display: flex;
    justify-content: center;
}
.filter-isClosed {
    margin: 20px;
    padding: 5px;
}
.search {
    display: flex;
    margin: 20px 40px;
    padding: 13px;
    height: 60px;

    input {
        border: 2px solid black;
        width: 200px;
        height: 35px;
        padding: 15px 20px;
    }
    span {
        margin: 10px;
        border: none;
    }
}

.detail-container {

    display:flex;
    justify-content:center;
}

.horaire {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}

.v-card-restaurant{
    border: 2px solid black;
    max-width: 374px;
}
#v-select__selection{
    display: flex !important;
    flex-wrap: nowrap !important;
}
.v-selected{
    width: 300px;
    height: 25px;

}
.horaire p{
    text-align: right;
}

.horaire p{
    text-align: right;
}

.icon:before {
    font-family: sans-serif;
  }

.transaction {
    display: flex;
    justify-content: flex-end;
}

.reservation {
    padding:40px;
}

.pa-12{
    width: 100px;
}
.row {
    margin: 12px !important;
}
    
